<div class="" id="videoRoomNavBar">
  <mat-toolbar id="header">

    <div id="navSessionInfo">
      <a [routerLink]="['']">
        <img id="header_img" alt="OpenVidu Logo" src="assets/images/openvidu_logo.png">
      </a>
      <span id="session-title">{{mySessionId}}</span>
    </div>
    <!--<button mat-stroked-button color="primary" (click)="copyLink()" ngxClipboard [cbContent]="roomLink">Copy room link</button>-->
    <div id="navButtons" align="center">
      <button mat-icon-button (click)="micStatusChanged()" id="navMicButton">
        <mat-icon *ngIf="localUser.isAudioMuted()" color="warn" matTooltip="Publish your audio">mic_off</mat-icon>
        <mat-icon *ngIf="!localUser.isAudioMuted()" matTooltip="Unpublish your audio">mic</mat-icon>
      </button>
      <button mat-icon-button (click)="camStatusChanged()" id="navCamButton">
        <mat-icon *ngIf="localUser.isVideoMuted()" color="warn" matTooltip="Publish your cam">videocam_off</mat-icon>
        <mat-icon *ngIf="!localUser.isVideoMuted()" matTooltip="Unpublish your cam">videocam</mat-icon>
      </button>

      <button mat-icon-button (click)="leaveSession()" id="navLeaveButton">
        <mat-icon color="warn" matTooltip="Leave the session">power_settings_new</mat-icon>
      </button>
      <button mat-icon-button id="navChatButton" (click)="toggleChat()">
        <mat-icon matTooltip="Chat">question_answer</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>

<chat-component #chatNavbar *ngIf="this.localUser.streamManager" [user]="this.localUser"></chat-component>

<div id="layout" class="bounds">

  <div *ngIf="this.localUser.streamManager" class="OT_root OT_publisher custom-class">
    <div class="nickname pointer" (click)="openDialogNickname()" id="localNickname">
      <span>{{this.localUser.getNickname()}} (edit)</span>
    </div>
    <stream-component #videoStream [user]="this.localUser"></stream-component>
  </div>
  <div *ngFor="let user of this.remoteUsers" class="OT_root OT_publisher OV_big custom-class">
    <span class="nickname" id="remoteNickname">{{user.getNickname()}}</span>
    <stream-component #videoStream [user]="user"></stream-component>
  </div>
</div>