<div id="dialogExtension">
  
  <h1 mat-dialog-title>Hello {{data.nickname}}</h1>
  <div mat-dialog-content>
    <p>You need install this chrome extension and refresh the browser for can share your screen.</p>    
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="onNoClick()" id="cancelButton">Cancel</button>
    <button mat-button  (click)="goToChromePage()" cdkFocusInitial id="installButton">Install</button>
    <button mat-button [mat-dialog-close]="" *ngIf="this.isInstalled" (click)="refreshBrowser()" cdkFocusInitial>Refresh</button>
    
  </div>
</div>
