<div id="section1">

<mat-toolbar id="header">
    <a [routerLink]="['']">
      <img id="header_img" alt="OpenVidu Logo" src="assets/images/openvidu_logo.png">
    </a>
  </mat-toolbar>

  <div id="ov_info">
  </div>

  <div id="card_content">
      <mat-card id="room_card">
	  <div>  
	      
	    <h3>Hacer videoconferencia </h3>
    <table border="1" width="20%">  
        <tr>  
            <th width="100%">Id</th>  
            <th width="50%">Name</th>
			<th width="50%">BOTON</th> 
        </tr>  
        <tr *ngFor="let asd of snapshot | async">
            <td>{{asd.id}} </td>
			<td>{{asd.title}}</td>
			<td><button (click)="goToVideoCall(asd.id)">LLAMAR</button></td>
        </tr>  
    </table>  

</div>

        </mat-card>
  </div>
</div>