#header {
    background-color: transparent;
    color: #ffffff;
  }
  #header_img {
    max-width: 200px;
    margin-right: 10px;
    margin-top: 10px;
  }

#section1{
    background-image: url("/assets/images/land2_bg.jpg");
    background-size: cover;
    height: 100%;
    text-align: center;
    position: relative;
}

#ov_info{
    color: #ffffff;
}
#ov_img{
    max-width: 50%;
    margin: auto;
}
#card_content{
    height: 50%;
}


#room_card{
    position: inherit;
    max-width: 700px;
    width: 75%;
    margin: auto;
    background-color: #f0f0f0f3;
}

#room_card mat-form-field{
    margin: auto;
    padding: 0px 5px;
}
@media (max-width: 700px) {
    #header_img {
        visibility: hidden
    }
    #ov_img{
        max-width: 65%; 
    }

}