video {
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#statusIcons {
  bottom: 0;
  background: #c71100;
  width: 40px;
  height: fit-content;
  position: absolute;
  color: #ffffff;
}

#statusIcons mat-icon {
  padding: 8px;
}

#fullscreenButton{
  position: absolute;
  bottom: 1px;
  right: 1px;
  z-index: 1000;
  background-color: #000000c4;
}
#volumeButton{
  background-color: #000000c4;
  position: absolute;
  bottom: 45px;
  right: 1px;
  z-index: 1000;
}
/* Contains the video element, used to fix video letter-boxing */ 
.OT_widget-container { 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  overflow: hidden; 
} 