<div class="OT_widget-container" [id]="'container-' + this.user.streamManager.stream.streamId">
    <ov-video [streamManager]="user.streamManager" [mutedSound]="mutedSound"></ov-video>
    <div id="statusIcons">
        <mat-icon *ngIf="this.user.audioMuted" id="statusMic">mic_off</mat-icon>
        <mat-icon *ngIf="this.user.videoMuted" id="statusCam">videocam_off</mat-icon>
    </div>
    <button mat-icon-button id="fullscreenButton" (click)="toggleFullscreen()">
        <mat-icon>{{this.fullscreenIcon}}</mat-icon>
      </button>
      <button mat-icon-button id="volumeButton" *ngIf="this.user.getType() === 'remote'" (click)="toggleSound()">
        <mat-icon *ngIf="!mutedSound" matTooltip="Mute sound">volume_up</mat-icon>
        <mat-icon *ngIf="mutedSound" color="warn" matTooltip="Unmute sound">volume_off</mat-icon>

      </button>
</div>