<div id="dialogNickname">
  <h1 mat-dialog-title>Hi {{data.nickname}}</h1>
  <div mat-dialog-content>
    <p>What's your new nickname?</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.nickname">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.nickname" cdkFocusInitial id="acceptButton">Ok</button>
  </div>
</div>