@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
    height: 100%;
}
body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

mat-button-toggle-group{
    box-shadow: none !important;
    height: inherit;

}





